.about {
  color: #2296F9;
}

.about-us-head {
  height: 148px;
  background: #0096FF;
  text-align: center;
  font-family: Helvetica;
}

.about-us {
  height: 555px;
  background-image: url(../img/jpg/about-us-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us-description {
  padding-top: 90px;
  margin-left: 734px;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #000000;
}

.about-us-description-head {
  font-weight: 800;
  font-size: 30px;
  line-height: 64px;
}

.about-us-description-title {
  font-size: 36px;
  line-height: 64px;
}

.about-us-description-text {
  width: 571px;
  font-size: 16px;
  line-height: 26px;
}

.about-us-head-title {
  padding-top: 45px;
  font-weight: bold;
  font-size: 29px;
  line-height: 33px;
  color: #FFFFFF;
}

.about-us-head-path {
  margin-top: 10px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #222222;
}

.about-us-we-do {
  width: 1440px;
  height: 435px;
  background: #F0F6FB;
  margin-bottom: 150px;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us-we-do-content {
  margin: 73px 135px;
}

.about-us-we-do-head {
  font-weight: bold;
  font-size: 36px;
  line-height: 64px;
}

.about-us-we-do-text {
  width: 571px;
  font-size: 16px;
  line-height: 26px;
}

.about-us-we-do-img {
  position: relative;
  top: -40px;
  left: -135px;
  width: 571px;
  height: 519px;
}

.about-us-clinic {
  margin-top: 20px;
}

.about-us-clinic-title {
  text-align: center;
}

.about-us-clinic-title-head {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
}

.about-us-clinic-title-description {
  font-size: 14px;
  line-height: 16px;
  width: 650px;
  margin: 20px auto;
}

.about-us-clinic-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px auto;
  width: 1170px;
}

.about-us-clinic-card {
  width: 230px;
}

.about-us-clinic-card-title {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #2296F9;
}

.about-us-clinic-card-description {
  margin-top: 15px;
  font-family: Helvetica Light;
  font-weight: 300;
  font-size: 12px;
  line-height: 133.5%;
}

.about-us-our-doctors-title {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
  margin-bottom: 40px;
}

.about-us-our-doctors-cards {
  margin: 0 auto;
  width: 1280px;
  /* height: 585px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* flex-wrap: wrap; */
}

.about-us-our-doctors-card {
  Width: 273px;
  Height: 438px;
}

.about-us-our-doctors-card-name {
  margin-top: 15px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.376923px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.about-us-our-doctors-card-post {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.376923px;
  text-transform: uppercase;
  color: #0096FF;
}

.about-us-our-doctors-card-social {
  margin: 5px auto;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=about-us.css.map */