.our-clients {
  margin: 0 auto;
}

.our-clients-title {
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
}

.our-clients-title-description {
  margin-top: 10px;
  font-family: Manrope;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
}

.our-clients-slider {
  margin: 0 auto;
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.our-clients-card {
  width: 350px;
  height: 350px;
  margin: 0 30px;
}

.our-clients-card-coment {
  height: 205px;
  background-image: url(../img/png/coment-card.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-coment-title {
  padding-top: 5px;
  margin: 0 auto;
  width: 260px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
}

.card-coment-text {
  width: 260px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
}

.our-clients-card-info {
  position: relative;
  top: -35px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  height: 120px;
}

.our-clients-card-img {
  display: block;
  margin: 0 auto;
  width: 56px;
  height: 56px;
}

.card-info-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
}

.card-info-text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #474A57;
}

.slick-slide {
  margin-top: 60px;
}

.slick-center {
  margin-top: 20px;
}

.slick-dots {
  bottom: 70px;
}

.slick-dots li button {
  background: #2296F9;
  border-radius: 50%;
  border: 1px solid #2296F9;
  width: 8px;
  height: 8px;
}

.slick-dots li button:before {
  font-size: 0;
  line-height: 0;
}

.slick-dots li.slick-active button {
  background: transparent;
  border-radius: 50%;
  border: 3px solid #2296F9;
  width: 14px;
  height: 14px;
}
/*# sourceMappingURL=slider.css.map */